@font-face {
  font-family: "CormorantLight";
  src: local(""), url("Assets/Fonts/Cormorant-Light.woff2") format("woff2"),
    url("/Fonts/Cormorant-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "CormorantLightItalic";
  src: local(""),
    url("Assets/Fonts/Cormorant-LightItalic.woff2") format("woff2"),
    url("/Fonts/Cormorant-LightItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Cormorant";
  src: url("Cormorant-Italic.woff2") format("woff2"),
    url("Cormorant-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Cormorant-BoldItalic";
  src: url("Assets/Fonts/Cormorant/Cormorant-BoldItalic.woff2") format("woff2"),
    url("Assets/Fonts/Cormorant/Cormorant-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Cormorant-SemiBoldItalic";
  src: url("Assets/Fonts/Cormorant/Cormorant-SemiBoldItalic.woff2")
      format("woff2"),
    url("Assets/Fonts/Cormorant/Cormorant-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Cormorant-LightItalic";
  src: url("Assets/Fonts/Cormorant/Cormorant-LightItalic.woff2") format("woff2"),
    url("Assets/Fonts/Cormorant/Cormorant-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Cormorant-MediumItalic";
  src: url("Assets/Fonts/Cormorant/Cormorant-MediumItalic.woff2")
      format("woff2"),
    url("Assets/Fonts/Cormorant/Cormorant-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "OpenSansItalic";
  src: local(""), url("Assets/Fonts/OpenSans-Italic.woff2") format("woff2"),
    url("/Fonts/OpenSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "OpenSansRegular";
  src: local(""), url("Assets/Fonts/OpenSans-Regular.woff2") format("woff2"),
    url("/Fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

body {
  all: unset;
  font-family: "CormorantLight", serif;
  line-height: 22px;
}
h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 0;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 49px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 50px;
}
a {
  text-decoration: none;
  color: #151618;
}
header {
  display: flex;
  padding-top: 17px;
  max-width: 1200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  margin-top: 15px;
}
#burger {
  display: none;
}
.menu {
  display: flex;
  flex-direction: row;
  width: 618px;
  justify-content: space-around;
  font-family: "OpenSansRegular";
  font-size: 18px;
  margin-top: 70px;
  margin-left: 200px;
}
.icons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(253, 253, 253);
  width: 180px;
  height: 29px;
  margin-top: 67px;
  margin-left: 125px;
}
.account {
  display: inline-flex;
  width: 58px;
  gap: 20px;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  position: relative;
  background-image: url(Assets/Images/Rectangle75banner.jpg);
  background-size: cover;
  max-width: 1599px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  z-index: 10;
}
.slogan {
  max-width: 790px;
  height: auto;
  margin-left: 200px;
  margin-top: 252px;
  z-index: 20;
}
.presentation {
  width: 568px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-left: 200px;
  margin-top: 25px;
  z-index: 20;
}

.philosophy {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  font-family: CormorantLightItalic;
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  line-height: 49px;
  width: 738px;
  height: 107px;
  margin: 150px auto 140px auto;
}
.bg-philosophy {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f2ea;
  width: 340px;
  height: 61px;
}
.philosophy span {
  width: 704px;
  position: relative;
  z-index: 1;
}
.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 150px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  column-gap: 37px;
}
.explore h2 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 57px;
}
.image-container {
  width: 208px;
  height: 247px;
  gap: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
}
.bgReviews {
  display: flex;
  background-color: #f7f2ea;
  max-width: 1600px;
  height: 397px;
  margin-left: auto;
  margin-right: auto;
}
.review {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  align-items: center;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0px 50% 0px 50%;
  padding-top: 60px;
  column-gap: 12px;
}
.block-reviews {
  font-family: OpenSansItalic;
  font-size: 16;
  font-weight: 300;
  line-height: 22px;
  width: 290px;
}
.name {
  font-family: OpenSansRegular;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding-top: 10px;
}

.ourBlog {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 150px auto 150px auto;
}
.ourBlog h2 {
  line-height: 48px;
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 5px;
}
.blogs {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  column-gap: 35px;
  padding-top: 55px;
}
.blog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 565px;
  height: 180px;
}
.alignmentBlog {
  display: flex;
  flex-direction: column;
}
#positionRobinson {
  position: relative;
  left: 0px;
}
#positioJoker {
  position: relative;
  left: 0px;
}
#positionCasper {
  position: relative;
  left: 0px;
}
#positionAuthor {
  position: relative;
  left: 0px;
}
.blog #robinson {
  width: 270px;
  height: 180px;
  background-image: url(Assets/Images/blogRobinson.png);
}
.blog #joker {
  width: 270px;
  height: 180px;
  background-image: url(Assets/Images/blogJoker.png);
}
.blog #casper {
  width: 270px;
  height: 180px;
  background-image: url(Assets/Images/blogCasper.png);
}
.blog #author {
  width: 270px;
  height: 180px;
  background-image: url(Assets/Images/blogAuthor.png);
}
.subject {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  width: 252px;
}
.author {
  font-family: OpenSansRegular;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  width: auto;
  height: 18px;
  margin-top: 10px;
  margin-bottom: auto;
}
.read {
  font-family: OpenSansRegular;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
.read:after {
  content: url(Assets/Icons/iconcursorRead.png);
  padding-left: 10px;
}
.button {
  width: 149px;
  height: 53px;
  border: 1px solid #151618;
  align-content: center;
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  align-items: ;
  margin-top: 15px;
}
.subscribeBanner {
  display: flex;
  align-items: center;
  background-color: #f7f2ea;
  background-image: url(Assets/Images/tea1Subscribe.png);
  background-repeat: no-repeat;
  background-position: right;
  max-width: 1599px;
  min-height: 397px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 180px;
}
.subscribe {
  display: flex;
  width: 1200px;
  min-height: 220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.column {
  width: 620px;
}
.row {
  height: 80px;
}
.first-child {
  justify-content: flex-start;
}
.subscribe p {
  margin-top: 50px;
  font-family: OpenSansRegular;
  font-size: 19px;
  font-weight: 300;
  line-height: 30px;
}
.inputEmail {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  width: 580px;
  height: 70px;
}
.emailForm {
  width: 439px;
  height: 30px;
  font-family: OpenSansRegular;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: #b8b58b;
  padding-left: 20px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #b8b58b;
  outline: none;
}
.buttonJoin {
  width: 116px;
  height: 51px;
  border: 1px solid #151618;
  background-color: #fff;
  align-content: center;
  text-align: center;
  font-family: OpenSansRegular;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  margin-left: 20px;
}
.subscribe div label {
  font-family: OpenSansRegular;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
.checkbox-container {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
}
.checkbox-input {
  margin-right: 10px;
}
.prioritise {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1200px;
  text-align: center;
  margin: 0px auto 150px auto;
}
.priority {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 43px;
  margin-top: 50px;
}
.prioritise h2 {
  grid-column: 1 / 5;
}
.title {
  font-family: OpenSansRegular;
  font-size: 30px;
  font-weight: 300;
  line-height: 41px;
  margin-bottom: 10px;
}
.quality {
  font-family: OpenSansRegular;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 40px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f2ea;
  max-width: 1599px;
  margin: 0px auto 0px auto;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 90px;
}
.company {
  margin-left: 211px;
  margin-right: 145px;
}
.products li {
  width: 97px;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 20px;
}
.company li {
  width: 155px;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 20px;
}
.last {
  display: flex;
  flex-wrap: wrap;
  max-width: 580px;
}
.quote {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 162px;
  margin-right: 0px;
  padding-top: 80px;
}
blockquote {
  font-family: OpenSansRegular;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.quoteAuthor {
  font-family: OpenSansRegular;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  padding-top: 20px;
  width: 129px;
}
.inTouch {
  display: flex;
  flex-direction: column;
  width: 270px;
}
.inTouch div {
  font-family: OpenSansRegular;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}
.inTouch h3 {
  margin-bottom: ;
}
.connection {
  display: flex;
  flex-wrap: wrap;
}
.contacts {
  display: inline-flex;
  margin-top: 10px;
}
.contacts div {
  padding-top: 15px;
  padding-left: 40px;
  gap: 20px;
}
.tel {
  display: flex;
}
.tel::before {
  content: url(Assets/Icons/iconTel.png);
  margin-right: 10px;
}
.mail {
  display: flex;
}
.mail::before {
  content: url(Assets/Icons/iconMail.png);
  margin-right: 10px;
}
.socialNetwork {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 40px;
  padding-right: 25px;
}
.bottomOther {
  display: inline-flex;
  justify-content: space-between;
  width: 466px;
  margin-top: 85px;
  font-family: OpenSansRegular;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.pay {
  display: inline-flex;
  gap: 20px;
}
@media (max-width: 1200px) {
  header {
    max-width: 768;
    height: 165px;
    margin-left: 50%;
    margin-right: 50%;
  }
  #logo {
    position: absolute;
    left: 45%;
  }
  #burger {
    display: flex;
    position: absolute;
    left: 64px;
    top: 73px;
  }
  .menu {
    display: none;
  }
  .icons {
    width: 130px;
    position: absolute;
    right: 64px;
    margin-top: 0px;
    margin-left: 0px;
    top: 68px;
  }
  .slogan {
    margin-left: 0px;
    width: 684px;
    height: 120px;
    padding-left: 18px;
  }
  .presentation {
    width: ;
    margin-left: 0px;
    padding-left: 19px;
  }
  .philosophy {
    margin: 120px auto 120px auto;
  }
  .philosophy span {
    width: 640px;
  }
  .bg-philosophy {
    width: 273px;
    margin-right: 57px;
  }
  .gallery {
    width: 700px;
    height: 510px;
    margin-bottom: 100px;
    column-gap: 20px;
  }
  .explore h2 {
    padding-bottom: 35px;
  }
  .bgReviews {
    height: 596px;
  }
  .review {
    width: 660px;
    padding-top: 70px;
  }
  .reviews {
    column-gap: 60px;
    row-gap: 30px;
  }
  .block-reviews {
    width: 300px;
  }
  .ourBlog {
    margin-top: 130px;
    margin-bottom: 120px;
  }
  .blogs {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    column-gap: 20px;
    padding-top: 55px;
  }
  .blog {
    width: 550px;
    column-gap: 20px;
  }
  #positionRobinson {
    position: relative;
    left: 0px;
    margin-bottom: 30px;
  }
  #positionJoker {
    position: relative;
    left: 98px;
    margin-bottom: 30px;
  }
  #positionCasper {
    position: relative;
    left: 0px;
    margin-bottom: 30px;
  }
  #positionAuthor {
    position: relative;
    left: 98px;
    margin-bottom: 60px;
  }
  .button {
    height: 51px;
    margin-top: 0px;
  }
  .subscribeBanner {
    margin-bottom: 120px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    text-align: ;
    max-width: 620px;
    min-height: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
  }
  .merged {
    padding-top: 10px;
    text-align: center;
  }
  .row {
    height: 42px;
  }
  .checkbox-input {
    margin-right: 10px;
  }
  .subscribe div label {
    padding-bottom: 60px;
  }
  .first-child {
    text-align: center;
  }
  .inputEmail {
    width: 610px;
  }
  .buttonJoin {
    margin-left: 40px;
  }
  .prioritise {
    max-width: 650px;
  }
  .priority {
    margin-top: 60px;
    column-gap: 110px;
    row-gap: 20px;
  }
  .footer {
    max-width: 680px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-left: 10px;
  }
  .company {
    margin-right: 0px;
    margin-left: 0px;
  }
  .last {
    width: 300px;
  }
  .quote {
    padding-top: 0px;
  }
  .inTouch {
    margin-top: 50px;
  }
  .bottomOther {
    width: 320px;
    margin-top: 65px;
  }
  .socialNetwork {
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 0;
  }

  header {
    max-width: 768;
    height: 76px;
    margin-left: 50%;
    margin-right: 50%;
  }
  #logo {
    width: 39px;
    position: absolute;
    left: 46%;
    margin-top: 0;
    top: 10px;
  }
  #burger {
    display: flex;
    position: absolute;
    left: 12px;
    top: 29px;
  }
  .menu {
    display: none;
  }
  .icons {
    width: 130px;
    position: absolute;
    right: 12px;
    margin-top: 0px;
    margin-left: 0px;
    top: 26px;
  }
  .slogan {
    margin-left: 0px;
    width: 450px;
    height: 96px;
    padding-left: 9px;
    padding-top: 27px;
  }
  .presentation {
    width: 460px;
    margin-left: 0px;
    padding-left: 9px;
    padding-top: 23px;
  }
  .philosophy {
    width: 350px;
    height: 45px;
    margin: 60px auto 60px auto;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 22px;
  }
  .philosophy span {
    width: 640px;
  }
  .bg-philosophy {
    width: 110px;
    height: 25px;
    margin-right: 75px;
    top: 20px;
  }
  .gallery {
    width: 500px;
    height: 730px;
    margin-bottom: 100px;
    column-gap: 20px;
  }
  .explore h2 {
    padding-bottom: 35px;
  }
  .bgReviews {
    height: 550px;
  }
  .review {
    width: 660px;
    padding-top: 18px;
  }
  .reviews {
    column-gap: 10px;
    row-gap: 30px;
    padding-top: 40px;
  }
  .block-reviews {
    width: 230px;
  }
  .ourBlog {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .blogs {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    column-gap: 0px;
    padding-top: 55px;
  }
  .blog {
    width: 550px;
    column-gap: 20px;
    height: 153px;
  }

  .blog #robinson {
    width: 230px;
    height: 153px;
  }
  .blog #joker {
    width: 230px;
    height: 153px;
  }
  .blog #casper {
    width: 230px;
    height: 153px;
  }
  .blog #author {
    width: 230px;
    height: 153px;
  }
  #positionRobinson {
    position: relative;
    left: 0px;
    margin-bottom: 30px;
  }
  #positionJoker {
    position: relative;
    left: 0px;
    margin-bottom: 30px;
  }
  #positionCasper {
    position: relative;
    left: 0px;
    margin-bottom: 30px;
  }
  #positionAuthor {
    position: relative;
    left: 0px;
    margin-bottom: 20px;
  }
  .subject {
    width: 220px;
  }
  .author {
    margin-bottom: auto;
  }
  .button {
    height: 51px;
    margin-top: 40px;
  }
  .subscribeBanner {
    margin-bottom: 60px;
    height: 420px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    min-height: 220px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }
  .subscribe p {
    width: 460px;
    margin-top: 20px;
    font-family: OpenSansRegular;
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
  }
  .emailForm {
    width: 323px;
  }
  .column {
    width: 460px;
  }
  .row {
    width: 460px;
    height: 10px;
  }
  .checkbox-input {
    margin-right: 10px;
  }
  .checkbox-container {
    height: 80px;
  }
  .subscribe div label {
    width: 440px;
    padding-bottom: 60px;
  }

  .first-child {
    text-align: center;
  }
  .inputEmail {
    width: 460px;
  }
  .buttonJoin {
    margin-left: 40px;
  }
  .prioritise {
    max-width: 294px;
    margin-bottom: 40px;
  }
  .priority {
    margin-top: 30px;
    column-gap: 110px;
    row-gap: 40px;
  }
  footer {
  }
  .footer {
    max-width: 460px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
    padding-left: 0px;
  }
  .company {
    margin-right: 0px;
    margin-left: 80px;
  }
  .last {
    width: 460px;
    margin-top: 30px;
  }
  .quote {
    width: 460px;
    height: 140px;
    padding-top: 0px;
  }
  .quoteAuthor {
    width: 300px;
    padding-top: 15px;
  }
  .inTouch {
    width: 460px;
    margin-top: 0px;
    text-align: center;
  }
  .inTouch h3 {
    margin-bottom: 15px;
  }
  .connection {
    align-items: center;
    justify-content: space-around;
  }
  .contacts {
    width: 230px;
    padding-top: 20px;
  }
  .bottomOther {
    width: 480px;
    margin-top: 55px;
  }
  .socialNetwork {
    width: 150px;
    margin-top: 40px;
    padding-right: 20px;
  }
  .contacts div {
    padding-left: 20px;
  }
}
