@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant-Light.woff2') format('woff2'),
        url('Cormorant-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant';
    src: url('Cormorant-LightItalic.woff2') format('woff2'),
        url('Cormorant-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

